@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');


*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background: #FFF;

}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 500px;
    height: 400px;
    border: none;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #212425;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(70, 70, 70, 0.63);
}

h1, p, span {
    font-size: 1.4rem;
    color: #FFF;
    text-align: justify;
}

.under{
    color: #36a979;
    text-decoration: underline;
}

h1{
    margin: 30px 15px;
    letter-spacing: 1px;
    font-weight: 400;
}

p{
    margin: 20px 20px;
    font-size: 1.4rem;
    text-align: center;
    color: #FFF;
    font-weight: 400;
}


button{
    text-align: center;
    padding: 3%;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    background: #277a57;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 0 3px #36a979;
    cursor: pointer;
}

.btn-sim{
    position: absolute;
    top: 40%;
    margin: 0 auto;
}

.btn-nao{
    position: absolute;
    top: 65%;
    margin: 0 auto;
}
#first, #second, #third{
    width: 400px;
    height: 300px;
    transition: 0.5s;
    display: none;
}

#fourth{
 display: none;
}

#btnframe{
width: 200px;
}

.texto{
    position: relative;
    left: -16%;

}

.texto > h1{
    color: black;
}

.first > h1 {
    text-align: center;
}


.second > h1{
    font-size: 1.3rem;
    letter-spacing: 0;
}

.container > .btn-nao{
    white-space: nowrap;
    font-size: 1.25rem;
}

.fourth{
    width: 100%;
    max-width: 800px;
    height: 400px;
    max-height: 100vh;
}

.btn-yes{
    position: absolute;
    top: 70%;
}

.framecasa {
    width: 100%;
    max-width: 600px;
}

#framecasa{
    position: relative;
    top: 5%;
    display: none;
}

.framecasa > h1{
    color: black;
    text-align: center;
    font-size: 2rem;
}

.total{
    color: green;
    font-size: 2rem;
    text-decoration: underline;
}

#textocasa{
    display: none;
}

.row{
    display: flex;
    position: relative;
    top: 600px;
    flex-direction: row;
}

.mensagens{
    width: 100%;
    position: relative;
    left: 200px;
    max-width: 300px;
}
